<% include partials/header.html %>
    
    <div class="container" style="border:2px solid black; background: #b2c1b3; color: red; padding: 5px">
        <h1> ERROR :</h1>
        <h2> <%= error %></h2>
        <div class="container" style="color:black">
            <h3>back to regestration:</h3>
            <a href='/register' class="btn btn-info">register</a>
            <h3>back to log in:</h3> 
            <a href='/register' class="btn btn-info">log in</a>
        </div>
    </div>
<% include partials/footer.html %>