<% include partials/header.html %>

<div class="row">
	<div class="jumbotron">
		<div class="container" style="padding:2%; text-align: center; background: #d1d1d1;">
			<h1 style="text-align: center; margin: 20px auto; font-size: 50px">
				welcom to Leaders
			</h1>
			<h3>log in or register if you still haven't..</h3>
			<a class="btn btn-primary btn-lg" href="/register">Register</a>	
			<a class="btn btn-primary btn-lg" href="/login">Log In</a>	
			<h3>want to look around?</h3>
			<a class="btn btn-success btn-lg" href="/leaders">View our advertisers</a>	
		</div>	
	</div>
</div>


<% include partials/footer.html %>