<% include partials/header.html %>

<h1> Register</h1>

<form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">   
        <button type="submit" class="btn btn-info">Register</button>
</form>

<h3>already registered?</h3>
<a href="./login" class="btn btn-info">LOG IN</a>

<% include partials/footer.html %>