body{
    padding: 3%;
    background: #24bbaa;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

.buttonsUnderText{
     padding-top: 0px;   
}

#edit-form{
    display: inline;
}

